<div *ngIf="!(this.authService.loggedIn | async);" class="container" style="padding-bottom: 30px">
  <div class="row justify-content-md-center">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="text-center">BHT Online Platform</h2>
      <form (submit)="login(loginForm.value)" #loginForm="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" (keypress)="InputChange()" id="email" name="email" ngModel>
        </div>
        <div class="form-group">
          <label for="password">password</label>
          <input type="password" class="form-control" (keypress)="InputChange()" id="password" name="password" ngModel>
        </div>
        <p style="color: red" *ngIf="AuthMessageStatus">{{ AuthMessage }}</p>
        <button class="btn btn-primary" type="submit">Login</button>
        <a routerLink="/register" class="btn btn-link">Register</a>
      </form>
    </div>
  </div>
</div>
