<div *ngIf="!(this.authService.loggedIn | async);" class="container" style="padding-bottom: 30px">
  <div class="row justify-content-md-center">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="text-center">BHT Online Platform</h2>
      <form (submit)="register(registerForm.value)" #registerForm="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" placeholder="email" class="form-control" (keypress)="InputChange()" id="email" name="email" ngModel>
        </div>
        <div class="form-group">
          <label for="name">User Name</label>
          <input type="text" placeholder="username" class="form-control" (keypress)="InputChange()" id="name" name="name" ngModel>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" (keypress)="InputChange()" id="password" name="password" ngModel>
        </div>
        <div class="form-group">
          <label for="cpassword">Confirm Password</label>
          <input type="password"  class="form-control" (keypress)="InputChange()" id="cpassword" name="cpassword" ngModel>
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="text" class="form-control" (keypress)="InputChange()" id="phone" name="phone" ngModel>
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <input type="text" class="form-control" (keypress)="InputChange()" id="address" name="address" ngModel>
        </div>
        <p style="color: red" *ngIf="!match">{{ message }}</p>
        <button class="btn btn-primary" type="submit">Sign up</button>
        <a routerLink="/login" class="btn btn-link">Login</a>
      </form>
    </div>
  </div>
</div>
