<!--<iframe class="resource" src="http://ccgg-gitbook.s3-website-us-east-1.amazonaws.com/"-->
<!--&gt;</iframe>-->

<!--<ng-container *ngFor="let res of RESOURCES_URL">-->
<!--  <iframe class="resource" [src]="getSrc(res)"-->
<!--  ></iframe>-->
<!--</ng-container>-->

<div class="page-wrapper" tabindex="-1" role="main">
  <div class="page-inner">

    <div id="book-search-results">
      <div class="search-noresults">

        <section class="normal markdown-section">

<!--          <h1 id="introduction">Introduction</h1>-->
<!--          <blockquote>-->
<!--            <p>@ 2019, Clinpharma Consulting Global Group LLC - All Rights Reserved.</p>-->
<!--            <p>Unauthorized copying of this book, via any medium is strictly prohibited.</p>-->
<!--            <p>Proprietary and confidential</p>-->
<!--          </blockquote>-->
<!--          <p>-->
<!--            This <a href="http://ccgg-gitbook.s3-website-us-east-1.amazonaws.com/" target="_blank"-->
<!--          >online book</a>-->
<!--            intends to cover all the details for a fullstack interview.-->
<!--          </p>-->
<!--          <p>For code samples, please send email to techa@clinpharmaconsulting.com to request Gitlab access.</p>-->


        </section>

      </div>

    </div>

  </div>
</div>
