<div class="mat-app-background">

  <table mat-table [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="batch">
      <th mat-header-cell *matHeaderCellDef style="width: 200px"> Batch </th>
      <td mat-cell *matCellDef="let element">
        <mat-select [(ngModel)]="element.batch">
          <mat-option *ngFor="let batch of batches" [value]="batch">{{batch.batch}}</mat-option>
        </mat-select>
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> <p> {{element.email}} </p> </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef style="width: 200px"> Role </th>
      <td mat-cell *matCellDef="let element">
        <mat-select [(ngModel)]="element.role">
          <mat-option *ngFor="let role of roles" [value]="role">{{role.name}}</mat-option>
        </mat-select>
      </td>
    </ng-container>


    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Phone </th>
      <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>

    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef style="width: 50px"> Active </th>
      <td mat-cell *matCellDef="let element">
        <mat-select [(value)]="element.active">
          <mat-option *ngFor="let actv of active" [value]="actv">{{activeDisplay[actv]}}</mat-option>
        </mat-select>
      </td>
    </ng-container>

    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef> Phone </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="UpdateUser(element)"> update </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
