<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <h4> Welcome to BHT Online Platform <i class="fa fa-users"></i></h4>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Profile <i class="fa fa-user-circle-o"></i>
        </div>
        <div class="panel-body">
          <p>Name: {{ this.authService.username }}</p>
          <p>Batch: {{batch}}</p>
          <p>Focus: {{focus}}</p>
          <p>Trainer: {{trainer}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="panel panel-info">
        <div class="panel-heading">
          How to use this website? (<strong>Must Read</strong>) <i class="fa fa-info-circle"></i>
        </div>
        <div class="panel-body">
          <h4> Tip1: Questions </h4>
          <p> Read each question -> Put down your answer -> Check suggested answer/Read additional resources -> Adjust your answer -> Remember it! </p>
          <h4> Tip2: Mock Interview </h4>
          <p> Download the software -> Work on a mock interview -> Replay your answers -> Improve! </p>
          <h4> Tip3: BHT Review </h4>
          <p> Read all the articles/tutorials -> Practice! </p>
          <p> * If you need any help, please contact your trainer. </p>
        </div>
      </div>
    </div>
  </div>
</div>
